@model RoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="AddRole" asp-controller="Rol" class="w-75 mx-auto" p-3>
    <div class="form-group">
        <label asp-for="@Model.Name"> </label>
        <span asp-validation-for="@Model.Name"></span>
        <input asp-for="@Model.Name" class="form-control" />

    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="submit" class="btn btn-info btn-sm" value="Kaydet"/>

</form>

